.form__subtitle-info{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
    span{
        color: $red;
        font-weight: 700;
    }
}
.form__suptitle-info{
    font-size: 18px;
    line-height: 23px;
    color: $black;
}





