.form__subtitle-info{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
    span{
        color: $red;
        font-weight: 700;
    }
    @media (max-width: $md3+px){
        align-items: flex-start;
    }
}
.form__suptitle-info{
    font-size: 18px;
    line-height: 23px;
    color: $black;
    @media (max-width: $md4+px){
        font-size: 16px;
        line-height: 20px;
    }
}
.modal-geologist {
	.modals-content {
		border-radius: 0px;
		padding: 45px 100px;
		max-width: 1110px;
        @media (max-width: $md3+px){
            padding: 40px 50px;
        }
        @media (max-width: $md4+px){
            padding: 45px 25px 20px;
        }
        @media (max-width: $md5+px){
            padding: 50px 5px 20px;
        }
		h2 {
			margin-top: 30px;
			margin-bottom: 15px;
            @media (max-width: $md3+px){
                font-size: 28px;
            }
            @media (max-width: $md4+px){
                font-size: 26px;
                max-width: 475px;
                text-align: center;
                margin: 30px auto 15px;
            }
            @media (max-width: $md5+px){
                font-size: 22px;
                max-width: 400px;
            }
		}
		h5 {
			margin-bottom: 25px;
			display: flex;
		}
		h5 span {
			color: $red;
			font-weight: 700;
		}
	}
}
