.modal-constructing{
    .modals-content {
		border-radius: 0px;
		padding: 45px 100px;
		max-width: 1110px;
        @media (max-width: $md3+px){
            padding: 20px 50px;
        }
        @media (max-width: $md4+px){
            padding: 0px 25px 20px;
        }
        @media (max-width: $md5+px){
            padding: 0px 5px 20px;
        }
		h2 {
			margin: 30px auto 15px;
            @media (max-width: $md3+px){
                font-size: 28px;
            }
            @media (max-width: $md4+px){
                font-size: 26px;
                max-width: 475px;
                text-align: center;
                margin: 30px auto 15px;
            }
            @media (max-width: $md5+px){
                font-size: 22px;
                max-width: 400px;
                margin: 45px auto 15px;
            }
		}
		h5 {
			margin-bottom: 25px;
			display: flex;
		}
		h5 span {
			color: $red;
			font-weight: 700;
		}
	}
}
