.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

._container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
  line-height: 1.15;
}

a {
  color: #000;
}

.form__subtitle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 25px;
}
.form__subtitle-info span {
  color: #FE0000;
  font-weight: 700;
}

.form__suptitle-info {
  font-size: 18px;
  line-height: 23px;
  color: #000;
}

input[type=file] {
  color: transparent;
}

.modal-test .modals-content {
  max-width: 1100px;
  border-radius: 0;
}
.modal-test .modal-inner {
  padding: 20px;
  min-height: 566px;
  position: relative;
}
.modal-test h3 {
  margin-bottom: 20px;
  min-height: 25px;
  max-width: 970px;
  padding-right: 30px;
}
.modal-test__wrapper,
.modal-test h6 {
  margin-bottom: 90px;
}
.modal-test__wrapper-item label {
  border: 2px solid rgba(51, 51, 51, 0.54);
  max-width: 1040px;
  padding: 20px;
  border-radius: 10px;
}
.modal-test__wrapper-item label h5 {
  display: inline-block;
}
.modal-test__wrapper-item + .modal-test__wrapper-item {
  margin-top: 20px;
}
.modal-test .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-test .radio .radio__fake {
  margin-right: 20px;
}
.modal-test .modal-test__bottom {
  position: absolute;
  left: 29px;
  /* width: auto; */
  right: 29px;
  bottom: 30px;
}
.modal-test .modal-test__bottom-progress {
  height: 4px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.54);
  margin-top: 20px;
  position: relative;
}
.modal-test .modal-test__bottom-progress .progress-bar {
  width: 10%;
  height: 4px;
  background-color: #fe0000;
  position: absolute;
  left: 0;
}
.modal-test .radio.checked {
  border: 2px solid rgba(254, 0, 0, 0.54);
}
.modal-test .modal-test__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 690px;
}
.modal-test .modal-test__numbers-item {
  font-size: 18px;
  background: #21d628;
  border-radius: 10px;
  min-height: 30px;
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-test .modal-test__numbers-item.error {
  background: #fe0000;
}
.modal-test .modal-test__numbers .modal-test__numbers-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.modal-geologist .modals-content {
  border-radius: 0px;
  padding: 45px 100px;
  max-width: 1110px;
}
.modal-geologist .modals-content h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.modal-geologist .modals-content h5 {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-geologist .modals-content h5 span {
  color: #FE0000;
  font-weight: 700;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
.send-form {
  color: #000;
}
.send-form .section-inner {
  padding-top: 75px;
}
.send-form .form-btn {
  margin-top: 30px;
  margin-bottom: 26px;
}
.send-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.send-form .form-group {
  color: #333;
}
.send-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.send-form .form-group input {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.54);
  width: 100%;
}
.send-form .form-group + .form-group {
  margin-top: 35px;
}
.send-form .form-group textarea {
  border: 1px solid rgba(51, 51, 51, 0.54);
  border-radius: 10px;
  width: 100%;
}
.send-form .form {
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #333333;
}
.send-form .form-group.message label {
  margin-bottom: 25px;
}

.modals {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999;
}

.modals.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modals-content {
  max-width: 800px;
  margin: auto;
  position: relative;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.close {
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 99999999;
  position: absolute;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

.modal-questions .modals-content {
  border-radius: 0px;
}
.modal-questions .modal-inner {
  padding-top: 40px;
}
.modal-questions h2 {
  text-align: center;
  margin-bottom: 40px;
}
.modal-questions .btn-red {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
}
.modal-questions .questions-wrapper h5 {
  padding: 15px 20px;
}
.modal-questions .questions-wrapper h5:nth-child(odd) {
  background: #e5e5e5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.slick-slide,
input {
  outline: none !important;
}

.section-search-projects {
  margin-bottom: 65px;
  background-color: #000;
}
.section-search-projects .form-btn {
  border: 1px solid #FE0000;
  padding: 15px 30px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #000;
  color: #fff;
}
.section-search-projects .form-btn:hover {
  background-color: #FE0000;
  border: 1px solid transparent;
}
.section-search-projects .title {
  color: #fff;
  font-size: 30px;
  padding-left: 22px;
  margin-bottom: 30px;
}
.section-search-projects .checkbox__title {
  max-width: 140px;
  color: #fff;
}
.section-search-projects .title span {
  color: #919191;
}
.section-search-projects .projects-search {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.section-search-projects .projects-search.show {
  display: block;
}
.section-search-projects .projects-search__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}
.section-search-projects .projects-search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-search-projects .projects-search__wrapper .checkbox + .checkbox {
  margin-top: 20px;
}
.section-search-projects .projects-search__item + .projects-search__item {
  margin-top: 36px;
}
.section-search-projects .projects-search__wrapper-col {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.section-search-projects .projects-search__wrapper-col--hide {
  opacity: 0;
}
.section-search-projects .projects-search__wrapper-col.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.section-search-projects .projects-search__wrapper-col.inline .checkbox + .checkbox {
  margin-top: 0;
  margin-left: 80px;
}
.section-search-projects .form-btn {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.section-search-projects .projects-search__item.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-search-projects .projects-search__item.inline .projects-search__item-wrapper + .projects-search__item-wrapper {
  margin-left: 100px;
}
.section-search-projects .projects-note {
  max-width: 600px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 44px;
  color: #fff;
}
.section-search-projects .projects-note span {
  color: red;
}
.section-search-projects .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}
.section-search-projects .search-projects__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}
.section-search-projects .search-projects__filter-item + .search-projects__filter-item {
  margin-left: 45px;
}
.section-search-projects .search-more {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid transparent;
}
.section-search-projects .search-more::after {
  content: "";
  position: absolute;
  background-image: url("../img/close.svg");
  width: 15px;
  height: 15px;
  background-size: contain;
  margin-left: 10px;
  margin-top: 3px;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.section-search-projects .search-more.active {
  position: relative;
  border-bottom: none;
  color: #fff;
  border-bottom: 1px solid #FE0000;
}
.section-search-projects .search-more.active::after {
  opacity: 0;
}
.section-search-projects .panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 20px;
}

.projects-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.projects-box__item {
  max-width: 373px;
  padding-bottom: 50px;
}
.projects-box__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.projects-box__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
}
.projects-box__item-header svg {
  position: absolute;
  right: 0;
}
.projects-box__item-header h5 {
  max-width: 250px;
  text-align: center;
  font-weight: 700;
}
.projects-box__item-header .favorites.add path {
  fill: #fe0000 !important;
  stroke: #fe0000 !important;
}
.projects-box__item-table {
  padding-top: 10px;
}
.projects-box__item-table tr td:nth-child(2) {
  font-weight: 700;
}
.projects-box__item-table tr td {
  padding: 5px 0;
}
.projects-box__item-table tr td:nth-child(1) {
  min-width: 128px;
}

.projects-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.projects-btns .form-btn {
  cursor: pointer;
  margin: 0;
}
.projects-btns .form-btn + .form-btn {
  margin-left: 20px;
}

.favorites.add path {
  fill: #fe0000 !important;
  stroke: #fe0000 !important;
}

.favorites {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .projects-search__wrapper-col5 {
    display: none;
  }

  .section-search-projects .projects-search__item.inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-search-projects .projects-search__item.inline .projects-search__item-wrapper + .projects-search__item-wrapper {
    margin-left: 0;
    margin-top: 35px;
  }

  .projects-box__item {
    max-width: 300px;
  }
}
@media (max-width: 960px) {
  .section-search-projects .projects-search__wrapper-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .projects-search__wrapper-col2,
.projects-search__wrapper-col4,
.projects-search__wrapper-col7,
.projects-search__wrapper-col9 {
    margin-top: 20px;
  }

  .section-search-projects .checkbox__title {
    max-width: 200px;
  }

  .section-search-projects .projects-search__wrapper-col--hide {
    display: none;
  }

  .section-search-projects .projects-search__wrapper-col.inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-search-projects .projects-search__wrapper-col.inline .checkbox + .checkbox {
    margin-left: 0;
    margin-top: 20px;
  }

  .section-search-projects .projects-search__item.inline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .section-search-projects .projects-search__item.inline .projects-search__item-wrapper + .projects-search__item-wrapper {
    margin-top: 0;
  }

  .section-search-projects .projects-search__item.inline .projects-search__item-wrapper {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .section-search-projects .select {
    min-width: 200px;
  }

  .section-search-projects .search-projects__filter-item + .search-projects__filter-item {
    margin-left: 15px;
  }
}
@media (max-width: 640px) {
  .section-search-projects .search-projects__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-bottom: 30px;
  }

  .section-search-projects .search-projects__filter-item + .search-projects__filter-item {
    margin-left: 0;
    margin-top: 20px;
  }

  .projects-box__item {
    max-width: 230px;
    padding-bottom: 30px;
  }

  .projects-box__item-table {
    font-size: 14px;
  }

  .projects-box__item-table tr td:nth-child(1) {
    min-width: 96px;
  }

  .section-search-projects .checkbox__title {
    max-width: 186px;
  }
}
@media (max-width: 480px) {
  .projects-box__item {
    max-width: 100%;
  }

  .projects-box__item-table tr td:nth-child(1) {
    min-width: 127px;
  }

  .projects-box__item img {
    height: 200px;
  }

  .section-search-projects .projects-search__item + .projects-search__item {
    margin-top: 20px;
  }

  .section-search-projects .d-flex {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .section-search-projects .projects-note {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .section-search-projects .checkbox__title {
    max-width: 121px;
    word-wrap: break-word;
  }
}
.select {
  position: relative;
  display: block;
  min-width: 220px;
  max-width: 233px;
}

.select__head {
  width: 100%;
  max-width: 100%;
  border: 2px solid rgba(51, 51, 51, 0.54);
  border-radius: 10px;
  padding: 10px 25px 10px 15px;
  cursor: pointer;
  text-align: center;
  min-width: 233px;
  color: #fff;
}
.select__head span {
  color: #FE0000;
}

.select__head::after {
  width: 10px;
  height: 6px;
  background: #000 url("../img/select-icon.svg") no-repeat center/cover;
  position: absolute;
  right: 30px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  content: "";
  display: block;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.select__head.open::after {
  -webkit-transform: translateY(50%) rotate(180deg);
  -ms-transform: translateY(50%) rotate(180deg);
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(51, 51, 51, 0.54);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.select__list .select__item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

.pointer {
  cursor: pointer;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__fake {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  background-color: transparent;
  border: 1px solid rgba(51, 51, 51, 0.54);
  border-radius: 10px;
  vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake::before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 15px;
  background-image: url("../img/check-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox__real:checked + .checkbox__fake {
  border: 1px solid #fe0000;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.checkbox__title {
  margin-left: 10px;
}

.section-inner {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0 15px;
  padding-top: 66px;
  padding-bottom: 66px;
}

.red {
  color: #FE0000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-btn {
  border: 1px solid #FE0000;
  padding: 15px 30px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-btn:hover {
  background-color: #FE0000;
  color: #fff;
}

.send-form {
  color: #333;
}
.send-form .section-inner {
  padding-top: 75px;
  padding-left: 0;
  padding-right: 0;
}
.send-form .section-inner.no-pad {
  padding-top: 0;
  padding-bottom: 0;
}
.send-form .section-inner.no-padt {
  padding-top: 0;
}
.send-form .section-inner.no-padb {
  padding-bottom: 0;
}
.send-form .form-btn {
  margin-top: 30px;
  margin-bottom: 26px;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.send-form .form-btn:hover {
  background-color: #FE0000;
  color: #fff;
  border: 1px solid transparent;
}
.send-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.send-form .form-group {
  color: #333;
}
.send-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 23px;
}
.send-form .form-group .dev-title {
  font-size: 18px;
  line-height: 23px;
  max-width: 335px;
  margin-right: 20px;
  margin-bottom: 0;
}
.send-form .form-group .foundation-title {
  font-size: 18px;
  line-height: 23px;
  max-width: 335px;
  margin-bottom: 0;
}
.send-form .form-group input {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.54);
  width: 100%;
  line-height: 1.15;
}
.send-form .form-group .label-dev {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid #919191;
  border-radius: 10px;
  background-color: #fff;
  padding: 4px 10px;
  color: #333;
}
.send-form .form-group .label-foundation {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid #919191;
  border-radius: 10px;
  background-color: #fff;
  padding: 4px 10px;
  color: #333;
}
.send-form .form-group--file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.send-form .form-group--file input {
  border: none;
  background-color: transparent;
  background: #000;
  outline: none;
  border-radius: 10px;
  max-width: 115px;
}
.send-form .form-group--file label {
  max-width: 335px;
  margin-bottom: 0;
}
.send-form .form-group--file .dev-title {
  height: 46px;
}
.send-form .form-group--file .foundation-title {
  margin-right: 30px;
}
.send-form .form-group + .form-group {
  margin-top: 35px;
}
.send-form .form-group textarea {
  border: 1px solid rgba(51, 51, 51, 0.54);
  border-radius: 10px;
  width: 100%;
}
.send-form .form {
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #333333;
}
.send-form .form-group.message label {
  margin-bottom: 25px;
}

.permit {
  font-size: 18px;
  line-height: 23px;
}
.permit span {
  border-bottom: 2px solid #FE0000;
}

.title {
  font-size: 30px;
  line-height: 1.33;
}

.hide-input {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.header-individual {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, #fff));
  background: -o-linear-gradient(left, #000 50%, #fff 50%);
  background: linear-gradient(to right, #000 50%, #fff 50%);
  border-bottom: 1px solid #919191;
  margin-bottom: 70px;
}
.header-individual__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 270px;
}
.header-individual__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.header-individual__column:first-child {
  background-color: #000;
  background: url("../img/houses.svg") top right no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-individual__column:last-child {
  background-color: #fff;
}
@media (min-width: 991.98px) {
  .header-individual__inner--left {
    cursor: pointer;
  }
}
.header-individual__inner--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 73px;
}
@media (min-width: 991.98px) {
  .header-individual__inner--right {
    cursor: pointer;
  }
  .header-individual__inner--right:hover .header-individual__title--right {
    color: #FE0000;
  }
  .header-individual__inner--right:hover .header-individual__arrow--right {
    stroke: #FE0000;
  }
}
.header-individual__title {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  font-size: 18px;
}
.header-individual__title--left {
  width: 280px;
  margin-bottom: 20px;
}
.header-individual__title--right {
  width: 260px;
  color: #919191;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-individual__arrow {
  width: 25px;
  height: 37px;
  fill: #919191;
  stroke: #919191;
}
.header-individual__arrow--down {
  stroke: #FE0000;
}
.header-individual__arrow--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  stroke: #919191;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.purpose {
  margin-bottom: 70px;
}
.purpose__content {
  padding: 0 15px;
}
.purpose__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}
.purpose__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.purpose__title {
  color: #333;
  font-size: 30px;
  line-height: 1.33;
  padding-left: 35px;
}
.purpose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.purpose__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 18px;
  line-height: 23px;
  color: #333;
  position: relative;
  padding-left: 16px;
}
.purpose__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #333;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}
.purpose__item:not(:last-child) {
  margin-bottom: 10px;
}
.purpose__video {
  max-width: 100%;
  width: 1150px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/video-cover.jpg") 0 0/cover no-repeat;
  position: relative;
}
.purpose__video::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}
.purpose__seal-img {
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.order-project {
  margin-bottom: 75px;
}
.order-project__content {
  padding: 0 15px;
  margin-bottom: 50px;
}
.order-project__title {
  font-size: 30px;
  line-height: 1.33;
  color: #333;
  padding-left: 35px;
  margin-bottom: 15px;
}
.order-project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-project__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 53px 18px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.order-project__column:not(:last-child) {
  border-right: 1px solid #919191;
}
.order-project__step-number {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #FE0000;
  margin-bottom: 35px;
}
.order-project__step-content {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.order-project__step-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #333;
  margin-bottom: 10px;
}
.order-project__step-info {
  font-size: 18px;
  line-height: 23px;
  color: #333;
  margin-bottom: 5px;
}
.order-project__step-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.order-project__img-wrapper {
  margin-bottom: 10px;
}
.order-project__step-img {
  display: block;
  margin: 0 auto;
}
.order-project__more-details-btn {
  display: inline-block;
  margin-right: auto;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.order-project__more-details-btn span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-right: 10px;
  color: #FE0000;
}
@media (min-width: 991.98px) {
  .order-project__more-details-btn:hover .order-project__more-details-btn-icon {
    -webkit-transform: translate(10px, 15%);
    -ms-transform: translate(10px, 15%);
    transform: translate(10px, 15%);
  }
}
.order-project__more-details-btn-icon {
  width: 37px;
  height: 16px;
  stroke: #FE0000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateY(15%);
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

.order-project__request {
  background-color: #E5E5E5;
}
.order-project__request-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 10px;
}
.order-project__request-title {
  padding-left: 48px;
  font-size: 30px;
  line-height: 1.33;
  color: #333;
}
.order-project__request-arrow {
  width: 61px;
  height: 26px;
  stroke: #919191;
}
.order-project__request-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 11px 30px;
  font-weight: 700;
  background-color: #FE0000;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .order-project__request-btn:hover {
    border: 1px solid #FE0000;
    background-color: #fff;
    color: #333;
  }
}

.exsamples-of-civil {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  margin-bottom: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.exsamples-of-civil__content {
  padding: 65px 15px 70px;
}
.exsamples-of-civil__title {
  padding-left: 35px;
  font-size: 30px;
  line-height: 1.33;
  color: #333;
  margin-bottom: 50px;
}
.exsamples-of-civil__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.exsamples-of-civil__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: 140px;
}
.exsamples-of-civil__column--line {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 2px;
  background-color: #333;
}
.exsamples-of-civil__type {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  font-size: 25px;
  line-height: 1.4;
  color: #333;
}
.exsamples-of-civil__type:hover {
  color: #fff;
}

.examples-foundation {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  margin-bottom: 75px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 0.3s ease;
  -o-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.examples-foundation__content {
  padding: 60px 15px 75px;
}
.examples-foundation__title {
  font-size: 30px;
  line-height: 1.33;
  color: #333;
  padding-left: 35px;
  margin-bottom: 50px;
}
.examples-foundation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.examples-foundation__row--1 {
  margin-bottom: 33px;
}
.examples-foundation__row--2 {
  height: 75px;
}
.examples-foundation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}
.examples-foundation__column--line {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 2px;
  background-color: #333;
}
.examples-foundation__type {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  font-size: 25px;
  line-height: 1.4;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.examples-foundation__type:hover {
  color: #fff;
}
.examples-foundation__type--stone-houses {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}
.examples-foundation__type--fence {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}

.documentation {
  position: relative;
  background-color: #000;
  margin-bottom: 65px;
}
.documentation__content {
  padding: 60px 15px 75px;
}
.documentation__title {
  padding-left: 35px;
  font-size: 30px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 40px;
}
.documentation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.documentation__img-wrapper {
  display: block;
  position: relative;
  z-index: 2;
}
.documentation__img-wrapper::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 100%;
  border: 1px solid #FE0000;
}
.documentation__img {
  position: relative;
  display: block;
  z-index: 2;
}

.statistics__content {
  padding: 60px 15px 75px;
}
.statistics__body {
  padding-bottom: 70px;
}
.statistics__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.statistics__title span {
  display: inline-block;
  width: 340px;
  font-size: 30px;
  line-height: 1.33;
  color: #333;
  position: relative;
}
.statistics__title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #FE0000;
}
.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.statistics__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.statistics__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.statistics__total-icon {
  stroke: #333;
  fill: #fff;
  margin-right: 15px;
}
.statistics__total-icon--1 {
  width: 55px;
  height: 63px;
}
.statistics__total-icon--2 {
  width: 71px;
  height: 48px;
}
.statistics__total-icon--3 {
  width: 56px;
  height: 58px;
}
.statistics__total-number {
  font-size: 30px;
  line-height: 1.33;
  color: #FE0000;
}
.statistics__line {
  width: 160px;
  height: 1px;
  background-color: #919191;
  margin-bottom: 10px;
}
.statistics__type-projects {
  font-size: 18px;
  line-height: 23px;
  color: #333;
  width: 160px;
  text-align: center;
}
.statistics__footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.statistics__footer-content::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 800px;
  height: 1px;
  background-color: #919191;
}
.statistics__footer-column:first-child {
  margin-right: 40px;
}
.statistics__footer-column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 115px;
  flex: 0 0 115px;
}
.statistics__footer-questions {
  font-size: 18px;
  line-height: 23px;
  color: #333;
}
.statistics__rating-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 115px;
  flex: 0 0 115px;
}
.statistics__rating-info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.statistics__rating-icon {
  margin-bottom: 10px;
}

body.no-scroll {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */
