<div id="modal_geology" class="modals modal-geologist modal-form">
  <div class="modals-content">
    <span class="close" data-close="">
      <img src="img/close2.svg" alt="">
    </span>

    <div class="modal-inner">
      <section class="send-form">
        <div class="section-inner no-pad">
          <div class="form__suptitle-info">
            Предоставьте данные статического зондирования грунтов, выполненного любой профильной организацией, или закажите в нашей компании необходимые геологические исследования (геотехнические и геолого-литологические исследования, измерения коррозионной агрессивности грунта).
          </div>
          <h2 class="title">Заявка на выезд геолога</h2>
          <div class="form__subtitle-info-inner">
            <div class="form__subtitle-info">
              <img class="form__subtitle-info-icon" src="./img/subtitle-info-icon.svg" alt="">
              <div>
                <span>От 3 500 рублей.</span> В стоимость входит проведение геотехнических исследований (динамическое зондирование грунтов не менее чем в трех точках), измерение коррозионной агрессивности грунтов, а также нивелировка участка.​
              </div>
            </div>
          </div>
          <form class="form" action="">
            <div class="form-group">
              <label for="name">Ваше имя<span class="red">*</span></label>
              <input id="name" type="text" name="name">
            </div>
            <div class="form-group">
              <label for="email">Ваш e-mail<span class="red">*</span></label>
              <input id="email" type="email" name="email">
            </div>
            <div class="form-group">
              <label for="tel">Ваш телефон<span class="red">*</span></label>
              <input id="tel" type="tel" name="tel">
            </div>
            <div class="form-group">
              <label for="date">Дата выезда</label>
              <input id="date" type="text" name="date">
            </div>
            <div class="form-group">
              <label for="location">Адрес выезда<span class="red">*</span></label>
              <input id="location" type="text" name="location">
            </div>

            <button type="submit" class="form-btn">Заказать</button>
            <div class="permit">
              Нажимая кнопку «Заказать», я подтверждаю свою дееспособность и даю согласие на обработку своих
              персональных данных в соответствии с <a class="" target="_blank" href="#!"><span>условиями</span></a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
