<div id="modal_vebinar1" class="modals modal-geologist modal-form">
  <div class="modals-content">
    <span class="close" data-close="">
      <img src="img/close2.svg" alt="">
    </span>

    <div class="modal-inner">
      <section class="send-form">
        <div class="section-inner no-pad">
          <h2 class="title">Записаться на вебинар</h2>
          <form class="form" action="">
            <div class="form-group">
              <label for="name">Организация<span class="red">*</span></label>
              <input id="name" type="text" name="name">
            </div>
            <div class="form-group">
              <label for="name">ФИО<span class="red">*</span></label>
              <input id="name" type="text" name="name">
            </div>
            <div class="form-group">
              <label for="tel">Телефон<span class="red">*</span></label>
              <input id="tel" type="tel" name="tel">
            </div>
            <div class="form-group">
              <label for="email">E-mail<span class="red">*</span></label>
              <input id="email" type="email" name="email">
            </div>

            <button class="form-btn">Отправить</button>
            <div class="permit">
              Нажимая кнопку «Отправить», я подтверждаю свою дееспособность и даю согласие на обработку своих
              персональных данных в соответствии с с <span>условиями</span>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
