.header-individual {
    background: linear-gradient(to right, $black 50%, $white 50%);
    border-bottom: 1px solid $gray;
    margin-bottom: 70px;
    @media (max-width: $md1+px){
        margin-bottom: 65px;
    }
    @media (max-width: $md3+px){
        margin-bottom: 55px;
    }
    @media (max-width: $md5+px){
        margin-bottom: 35px;
    }
    // .header-individual__content
    &__content {
        display: flex;
        align-items: center;
        height: 284px;
        @media (max-width: $md3+px){
            height: 235px;
        }
        @media (max-width: $md4+px){
            height: 195px;
        }
    }
    // .header-individual__column
    &__column {
        flex: 0 1 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 72px;
        @media (max-width: $md1+px){
            padding-top: 61px;
        }
        @media (max-width: $md3+px){
            padding-top: 52px;
        }
        @media (max-width: $md5+px){
            padding-top: 35px;
        }
        &:first-child{
            background-color: $black;
            background: url('../img/houses.svg') bottom right no-repeat;
            display: flex;
            @media (max-width: $md1+px){
                background: url('../img/houses-1200.svg') bottom right no-repeat;
            }
            @media (max-width: $md3+px){
                background: url('../img/houses-960.svg') bottom right no-repeat;
            }
            @media (max-width: $md4+px){
                background: url('../img/houses-640.svg') bottom right no-repeat;
            }
            @media (max-width: $md5+px){
                background: url('../img/houses-480.svg') bottom right no-repeat;
            }
            // не забыть раскомментировать!!!
            /* @media (max-width: $md1+px){
                padding-left: 35px;
            } */
            //не забыть дописать дальше вплоть до 0!
        }
        &:last-child{
            background-color: #fff;
        }
    }
     // .header-individual__inner
    &__inner{
        &--left{
            position: relative;
            @media (min-width: $md2+px){
                cursor: pointer;
            }
        }
        &--right{
            display: flex;
            align-items: center;
            margin-left: 73px;
            cursor: pointer;
            &:hover{
                .header-individual__title--right{
                    color: $red;
                }
                .header-individual__arrow--right{
                    stroke: $red;
                }
            }
            @media (max-width: $md1+px){
                margin-left: 68px;
                position: relative;
            }
            @media (max-width: $md3+px){
                margin-left: 58px;
                display: block;
            }
            @media (max-width: $md4+px){
                margin-left: 19px;
            }
            @media (max-width: $md5+px){
                margin-left: 20px;
            }
        }
    }
    // .header-individual__title
    &__title {
        color: #fff;
        font-family: "PT Sans", sans-serif;
        line-height: 1.4;
        //line-height: 35px;
        //font-size: 25px; //23
        font-size: 23px;
        position: relative;
        @media (max-width: $md4+px){
            font-size: 20px;
        }
        @media (max-width: $md5+px){
            font-size: 17px;
            line-height: 22px;
        }

        // .header-individual__title--left
        &--left{
            max-width: 280px;
            margin-bottom: 23px;
            //margin-bottom: 20px;
            @media (max-width: $md1+px){
                max-width: 270px;
            }
            @media (max-width: $md3+px){
                margin-bottom: 0;
            }
            @media (max-width: $md4+px){
                max-width: 235px;
            }
            @media (max-width: $md5+px){
                max-width: 200px;
            }
        }
        // .header-individual__title--right
        &--right{
            max-width: 260px;
            color: $gray;
            margin-right: 20px;
            transition: all $t ease 0s;
            @media (max-width: $md3+px){
                margin-right: 0;
            }
            @media (max-width: $md4+px){
                max-width: 205px;
            }
            @media (max-width: $md5+px){
                max-width: 140px;
            }
        }
    }
    // .header-individual__arrow
    &__arrow {
        width: 37px;
        height: 37px;
        fill: $gray;
        stroke: $gray;
        @media (max-width: $md3+px){
            width: 27px;
        }
        // .header-individual__arrow--down
        &--down {
            stroke: $red;
            position: absolute;
            //margin-top: 20px; // на адаптив
            @media (max-width: $md3+px){
                margin-top: 8px;
                height: 19px;
            }
            @media (max-width: $md5+px){
                margin-top: 28px;
                width: 32px;
                height: 23px;
            }
        }
        // .header-individual__arrow--right
        &--right {
            transform: rotate(-90deg);
            stroke: $gray;
            transition: all $t ease 0s;
            @media (max-width: $md3+px){
                position: absolute;
            }
            @media (max-width: $md3+px){
                margin-top: 8px;
                height: 19px;
            }
        }
    }
}
//==================================================================================================================================================================================
.purpose {
    margin-bottom: 70px;
    @media (max-width: $md1+px){
        margin-bottom: 60px;
    }
    @media (max-width: $md3+px){
        margin-bottom: 50px;
    }
    @media (max-width: $md5+px){
        margin-bottom: 35px;
    }
    // .purpose__content
    &__content {
        padding: 0 15px;
    }
    // .purpose__row
    &__row {
        display: flex;
        margin-bottom: 45px;
        @media (max-width: $md3+px){
            margin-bottom: 40px;
        }
        @media (max-width: $md4+px){
            margin-bottom: 35px;
        }
        @media (max-width: $md5+px){
            margin-bottom: 15px;
        }
    }
    // .purpose__column
    &__column {
        flex: 0 1 50%;
        &:first-child{
            padding-left: 35px;
            @media (max-width: $md3+px){
                padding-left: 25px;
            }
            @media (max-width: $md4+px){
                padding-left: 15px;
            }
            @media (max-width: $md5+px){
                padding-left: 0;
            }
        }
    }
    // .purpose__title
    &__title {
        color: $black2;
        font-size: 30px;
        line-height: 1.33;
        @media (max-width: $md3+px){
            max-width: 220px;
            font-size: 28px;
        }
        @media (max-width: $md4+px){
            font-size: 25px;
        }
        @media (max-width: $md5+px){
            font-size: 20px;
            max-width: 195px;
        }
    }
    // .purpose__list
    &__list {
        display: flex;
        flex-direction: column;
    }
    // .purpose__item
    &__item {
        flex: 1 1 100%;
        font-size: 18px;
        line-height: 23px;
        color: $black2;
        position: relative;
        padding-left: 16px;
        @media (max-width: $md3+px){
            line-height: 21px;
            font-size: 16px;
        }
        @media (max-width: $md4+px){
            padding-left: 14px;
        }
        @media (max-width: $md5+px){
            line-height: 18px;
            font-size: 14px;
            padding-left: 9px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 8px;
            height: 8px;
            background-color: $black2;
            top: 10px;
            transform: translateY(-50%);
            border-radius: 50%;
            @media (max-width: $md5+px){
                width: 6px;
                height: 6px;
            }
        }
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    // .purpose__video
    &__video {
        max-width: 100%;
        width: 1150px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/video-cover.jpg') 0 0 / cover no-repeat;
        position: relative;
        @media (max-width: $md3+px){
            height: 300px;
        }
        @media (max-width: $md4+px){
            height: 245px;
        }
        @media (max-width: $md5+px){
            height: 200px;
        }
        &::after{
            position: absolute;
            content: "";
            background: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            right: 0;
            left: 0;
            top: 0;
            z-index: 2;
        }
    }
    // .purpose__seal-img
    &__seal-img {
        position: relative;
        z-index: 3;
        cursor: pointer;
        @media (max-width: $md3+px){
            width: 180px;
        }
        @media (max-width: $md4+px){
            width: 140px;
        }
    }

}
//==================================================================================================================================================================================
.order-project {
    margin-bottom: 75px;
    @media (max-width: $md1+px){
        margin-bottom: 70px;
    }
    @media (max-width: $md3+px){
        margin-bottom: 60px;
    }
    @media (max-width: $md5+px){
        margin-bottom: 30px;
    }
    // .order-project__content
    &__content {
        padding: 0 15px;
        margin-bottom: 50px;
        @media (max-width: $md3+px){
            margin-bottom: 40px;
        }
        @media (max-width: $md4+px){
            margin-bottom: 30px;
        }
    }
    // .order-project__title
    &__title {
        font-size: 30px;
        line-height: 1.33;
        color: $black2;
        padding-left: 35px;
        margin-bottom: 15px;
        @media (max-width: $md1+px){
            margin-bottom: 30px;
        }
        @media (max-width: $md3+px){
            font-size: 28px;
            padding-left: 25px;
        }
        @media (max-width: $md4+px){
            font-size: 25px;
            padding-left: 15px;
            margin-bottom: 20px;
        }
        @media (max-width: $md5+px){
            font-size: 20px;
            margin-bottom: 10px;
            padding-left: 0;
        }
    }
    // .order-project__row
    &__row {
        display: flex;
        margin: 0 -8px;
        @media (max-width: $md3+px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    // .order-project__column
    &__column {
        display: flex;
        flex: 0 1 33.333%;
        padding: 53px 18px 0;
        flex-direction: column;
        @media (max-width: $md1+px){
            padding-top: 23px;
        }
        @media (max-width: $md3+px){
            flex: 0 1 50%;
        }
        @media (max-width: $md4+px){
            flex: 1 1 100%;
            padding-top: 0;
        }
        &:not(:last-child){
            border-right: 1px solid $gray;
            @media (max-width: $md3+px){
                margin-bottom: 30px;
                border-right: none;
            }
            @media (max-width: $md4+px){
                margin-bottom: 20px;
            }
        }
        &:first-child{
            @media (max-width: $md3+px){
                border-right: 1px solid $gray;
            }
            @media (max-width: $md4+px){
                border-right: none;
            }
        }

    }
    // .order-project__step-number
    &__step-number {
        font-size: 25px;
        font-weight: 700;
        line-height: 1;
        color: $red;
        margin-bottom: 35px;
        @media (max-width: $md3+px){
            margin-bottom: 15px;
            font-size: 23px;
        }
        @media (max-width: $md4+px){
            font-size: 20px;
        }
        @media (max-width: $md5+px){
            font-size: 17px;
        }
    }
    // .order-project__step-content
    &__step-content{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (max-width: $md2+px){
            padding-left: 20px;
        }

        @media (max-width: $md4+px){
            padding-left: 15px;
        }
        @media (max-width: $md5+px){
            padding-left: 0;
        }
        &:last-child{
            @media (max-width: $md3+px){
                align-items: center;
            }
        }
    }
    // .order-project__step-title
    &__step-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        color: $black2;
        margin-bottom: 10px;
        @media (max-width: $md3+px){
            min-height: 46px;
            width: 100%;
        }
        @media (max-width: $md4+px){
            min-height: auto;
            font-size: 16px;
            line-height: 21px;
        }
        @media (max-width: $md5+px){
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 7px;
        }
    }
    // .order-project__step-info
    &__step-info {
        font-size: 18px;
        line-height: 23px;
        color: $black2;
        margin-bottom: 5px;
        @media (max-width: $md4+px){
            margin-bottom: 0;
        }
    }
    // .order-project__step-bottom
    &__step-bottom{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: flex-end;
        //display: flex;
        //flex-direction: column;
        //flex: 0 1 auto;
        //justify-content: flex-end;
    }
    // .order-project__img-wrapper
    &__img-wrapper{
        margin-bottom: 10px;
        @media (max-width: $md5+px){
            margin-bottom: 5px;
        }
    }
    // .order-project__step-img
    &__step-img {
        display: block;
        margin: 0 auto;
    }
    // .order-project__more-details-btn
    &__more-details-btn {
        display: inline-block;
        //align-items: center;
        margin-right: auto;
        outline: none;
	    background: transparent;
	    border: none;
        cursor: pointer;
        @media (max-width: $md3+px){
            margin-right: 0;
        }
        span{
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
            margin-right: 10px;
            color: $red;
            @media (max-width: $md3+px){
                font-size: 14px;
                line-height: 18px;
            }
        }
        @media (min-width: $md2+px){
            &:hover {
                .order-project__more-details-btn-icon{
                    transform: translate(10px, 15%);
                }
            }
        }
    }
    // .order-project__more-details-btn-icon
    &__more-details-btn-icon {
        width: 37px;
        height: 16px;
        stroke: $red;
        transition: all $t ease 0s;
        transform: translateY(15%);
        // @media (min-width: $md2+px){
        //     &:hover {
        //         transform: translateX(10px);
        //     }
        // }
    }
}
//==================================================================================================================================================================================
.order-project {
    // .order-project__request
    &__request {
        background-color: $gray2;
    }
    // .order-project__request-content
    &__request-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 10px;
        @media (max-width: $md1+px){
            padding: 35px 10px;
        }
        @media (max-width: $md4+px){
            padding: 30px 10px;
        }
        @media (max-width: $md5+px){
            flex-direction: column;
            padding: 25px 10px;
        }
    }
    // .order-project__request-title
    &__request-title {
        padding-left: 48px;
        font-size: 30px;
        line-height: 1.33;
        color: $black2;
        @media (max-width: $md3+px){
            font-size: 28px;
            max-width: 285px;
            text-align: center;
        }
        @media (max-width: $md4+px){
            font-size: 25px;
        }
        @media (max-width: $md5+px){
            font-size: 20px;
            max-width: 100%;
            padding-left: 0;
            margin-bottom: 3px;
        }
        @media (max-width: 340px){
            font-size: 18px;
        }
    }
    // .order-project__request-arrow
    &__request-arrow {
        width: 61px;
        height: 26px;
        stroke: $black2;
        @media (max-width: $md3+px){
            width: 51px;
        }
        @media (max-width: $md4+px){
            width: 25px;
        }
        @media (max-width: $md5+px){
            width: 20px; //transform rotate
            transform: rotate(90deg);
            margin-bottom: 15px;
        }
    }
    // .order-project__request-btn
    &__request-btn {
        display: inline-block;
        font-size: 16px;
        line-height: 21px;
        outline: none;
	    background: transparent;
	    border: 1px solid transparent;
        cursor: pointer;
        padding: 11px 30px;
        font-weight: 700;
        background-color: $red;
        color: $white;
        transition: all $t ease 0s;
        @media (max-width: $md3+px){
            padding: 11px 25px;
            font-size: 14px;
            line-height: 18px;
        }
        @media (max-width: $md5+px){
            padding: 9px 21px;
            font-size: 12px;
            line-height: 15px;
        }
        &:hover {
            border: 1px solid $red;
            background-color: $white;
            color: $black2;
        }

    }
}
//==================================================================================================================================================================================
.examples-of-civil {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin-bottom: 75px;
    //background: $white;
    //background-image: url('../img/white-bg.png.png');
    background-position: center center;
    background-repeat: no-repeat;
    //object-fit: cover;
    background-size: cover;
    transition: background-image 0.3s linear;
    transition: all 0.3s linear;
    @media (max-width: $md1+px){
        margin-bottom: 70px;
    }
    @media (max-width: $md3+px){
        margin-bottom: 60px;
    }
    @media (max-width: $md5+px){
        margin-bottom: 40px;
    }
    &--img-1{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/b48279fea027169b8a1142b27021c949-full.png);
    }
    &--img-2{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/8063dbd0d874493b24ac0b9262b97f63-full.png);
    }
    &--img-3{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/9a3b70f1f455df718d6504c8dd5eeea8-full.png);
    }
    // .examples-of-civil__content
    &__content {
        padding: 65px 15px 70px;
        @media (max-width: $md1+px){
            padding: 60px 15px 60px;
        }
        @media (max-width: $md3+px){
            padding: 50px 15px 50px;
        }
        @media (max-width: $md5+px){
            padding: 35px 15px 35px;
        }
    }
    // .examples-of-civil__title
    &__title {
        padding-left: 35px;
        font-size: 30px;
        line-height: 1.33;
        color: $black2;
        margin-bottom: 50px;
        @media (max-width: $md3+px){
            font-size: 28px;
            padding-left: 25px;
            margin-bottom: 30px;
        }
        @media (max-width: $md4+px){
            font-size: 25px;
            max-width: 295px;
            padding-left: 15px;
            margin-bottom: 25px;
        }
        @media (max-width: $md5+px){
            font-size: 20px;
            padding-left: 0;
            margin-bottom: 10px;
        }
        &--active{
            color: $white;
        }
    }
    // .examples-of-civil__row
    &__row {
        display: flex;
        align-items: center;
        @media (max-width: $md3+px){
            flex-direction: column;
        }
    }
    // .examples-of-civil__column
    &__column {
        display: flex;
        justify-content: space-evenly;
        //align-items: flex-start;
        //align-items: center;
        //flex: 0 1 33.333%;
        height: 105px;
        /* @media (max-width: $md1+px){
            height: 105px;
        } */
        @media (max-width: $md3+px){
            flex: 1 1 100%;
        }
        // .examples-of-civil__column--line
        &--line {
            flex: 0 0 40px;
            height: 2px;
            background-color: $black2;
            @media (max-width: $md3+px){
                width: 2px;
                transform: rotate(-90deg);
            }
        }

    }
    // .examples-of-civil__type
    &__type {
        //flex: 0 0 210px;
        flex: 0 1 260px;
        font-size: 25px;
        line-height: 1.4;
        color: $black2;
        @media (max-width: $md3+px){
            font-size: 23px;
            flex: 0 0 315px;
            text-align: center;
        }
        @media (max-width: $md4+px){
            font-size: 20px;
        }
        @media (max-width: $md5+px){
            font-size: 17px;
        }
        &:hover {
            color: $white;
        }
        &--no-hover{
            color: $gray;
        }
        //опциональные модификаторы
        &--wooden-houses{

        }
        &--stone-houses{

        }
        &--frame-houses{
            @media (max-width: $md3+px){
                flex: 0 0 350px;
            }
            @media (max-width: $md5+px){
                flex: 0 1 320px;
            }
        }
    }
    // .examples-of-civil__type-title
    &__type-title{
    }
    // .examples-of-civil__desc
    &__type-desc{

    }
}

//==================================================================================================================================================================================
.examples-foundation {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin-bottom: 75px;
    //background: $white;
    background-repeat: no-repeat;
    background-position: center center;
    //object-fit: cover;
    background-size: cover;
    transition: background-image 0.3s ease;
    transition: all 0.3s ease;
    @media (max-width: $md4+px){
        display: none;
    }
    &--640{
        display: none;
        @media (max-width: $md4+px){
            display: block;
        }
    }
    //картинки должны быть размещены в корне сайта на хостинге, сторонний сервис - не вариант, т.к. может упасть
    &--img-1{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/b48279fea027169b8a1142b27021c949-full.png);
    }
    &--img-2{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/8063dbd0d874493b24ac0b9262b97f63-full.png);
    }
    &--img-3{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/f64f270ab8f4d7bb2ffb842c3eaf819b-full.png);
    }
    &--img-4{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/823645e19313171956c8af82c8651c0c-full.png);
    }
    &--img-5{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/aaaa07f558993a4c670702d8de86b264-full.png);
    }
    &--img-6{
        background-image: url(https://cdn1.savepice.ru/uploads/2021/11/5/48fff4b8e0390ddebab38826bb2de684-full.png);
    }
    // .examples-foundation__content
    &__content {
        padding: 60px 15px 75px;
    }
    // .examples-foundation__title
    &__title {
        font-size: 30px;
        line-height: 1.33;
        color: $black2;
        padding-left: 35px;
        margin-bottom: 50px;
        @media (max-width: $md3+px){
            font-size: 28px;
        }
        @media (max-width: $md4+px){
            font-size: 25px;
            max-width: 295px;
        }
        @media (max-width: $md5+px){
            font-size: 20px;
        }
        &--active{
            color: $white;
        }
    }
    &__wrapper{
        @media (max-width: $md3+px){
            display: flex;
            flex-wrap: wrap;
        }
        @media (max-width: $md4+px){
            display: block;
        }

    }
    // .examples-foundation__row
    &__row {
        display: flex;
        align-items: center;
        @media (max-width: $md3+px){
            flex: 1 1 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            //flex: 0 1 50%;
            //flex-direction: column;
        }
        @media (max-width: $md4+px){
            flex-direction: column;
        }
        /* @media (max-width: $md3+px){
            flex-direction: column;
        } */
        &--1{
            margin-bottom: 33px;
            @media (max-width: $md3+px){
                margin-bottom: 29px;
            }
            @media (max-width: $md4+px){
                margin-bottom: 0;
            }
        }
        &--2{
            height: 75px;
            @media (max-width: $md3+px){
                height: 100%;
                margin-bottom: 29px;
                .examples-foundation__column{
                    &:nth-child(4){
                        display: none;
                    }
                }
            }
            @media (max-width: $md4+px){
                margin-bottom: 0;
                .examples-foundation__column{
                    &:nth-child(4){
                        display: block;
                    }
                }
            }
        }
        &--3{

        }
    }
    // .examples-foundation__row--line
    &__row--line{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 40px;
    }
    // .examples-foundation__column
    &__column {
        display: flex;
        justify-content: space-evenly;
        //align-items: flex-start;
        align-items: center;
        flex: 0 1 33.333%;
        @media (max-width: $md3+px){
            //flex: 0 1 50%;
            height: 75px;
        }
        @media (max-width: $md4+px){
            flex: 1 1 100%;
        }
        // .examples-foundation__column--line
        &--line {
            flex: 0 0 40px;
            height: 2px;
            background-color: $black2;
            @media (max-width: $md3+px){
                /* width: 2px;
                transform: rotate(90deg); */
                //display: none;
            }
            @media (max-width: $md4+px){
                width: 2px;
                transform: rotate(90deg);
            }
        }
        // .examples-foundation__column--line-between
        &--line-between{
            background-color: $black2;
            flex: 0 0 40px;
            height: 2px;
            width: 2px;
            transform: rotate(90deg);
        }
    }
    // .examples-foundation__type
    &__type{
        display: block;
        flex: 0 0 210px;
        font-size: 25px;
        line-height: 1.4;
        color: $black2;
        //color: $gray;
        transition: all $t ease 0s;
        @media (max-width: $md3+px){
            //height: 70px;
            font-size: 23px;
            flex: 0 0 200px;
        }
        @media (max-width: $md4+px){
            flex: 1 1 100%;
        }
        &--no-hover{
            color: $gray;
        }
        &:hover {
            color: $white;
        }
        &--stone-houses{
            flex: 0 0 140px;
            @media (max-width: $md3+px){
                flex: 0 0 200px;
            }
            @media (max-width: $md4+px){
                flex: 1 1 100%;
            }
        }
        &--fence{
            flex: 0 0 140px;
            @media (max-width: $md3+px){
                flex: 0 0 200px;
            }
            @media (max-width: $md4+px){
                flex: 1 1 100%;
            }
        }
    }
}
//==================================================================================================================================================================================
.documentation {
    position: relative;
    background-color: $black;
    margin-bottom: 65px;
    // .documentation__content
    &__content {
        padding: 60px 45px 75px;
        @media (max-width: $md3+px){
            padding: 60px 38px 75px;
        }
        @media (max-width: $md4+px){
            padding: 60px 35px 75px;
        }
        //padding: 60px 15px 75px;
    }
    // .documentation__title
    &__title {
        padding-left: 35px;
        font-size: 30px;
        line-height: 1.33;
        color: $white;
        margin-bottom: 40px;
    }
    // .documentation__row
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md4+px){
            flex-direction: column;
        }
    }
    // .documentation__column
    &__column {
        //flex: 0 1 33.333%;
        @media (max-width: $md3+px){
            &:not(:last-child){
                margin-right: 46px; //23+23, отступ от псевдорамок на их выступ + сам выступ псевдорамок
            }
        }
        @media (max-width: $md4+px){
            margin-bottom: 40px;
            &:not(:last-child){
                margin-right: 0;
            }
        }
    }
    // .documentation__img-wrapper
    &__img-wrapper {
        display: block;
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 30px;
            //z-index: 1;
            width: 100%;
            height: 100%;
            border: 1px solid $red;
            @media (max-width: $md3+px){
                top: 23px;
                left: 23px;
            }
            @media (max-width: $md4+px){
                top: 20px;
                left: 20px;
            }
        }

    }
    // .documentation__img
    &__img {
        position: relative;
        display: block;
        z-index: 2;
        @media (max-width: $md3+px){
            width: 187px;
        }
        @media (max-width: $md4+px){
            width: 144px;
        }
    }
}
//==================================================================================================================================================================================
.statistics {
    // .statistics__content
    &__content {
        padding: 60px 15px 75px;
    }
    // .statistics__body
    &__body {
        padding-bottom: 70px;
    }
    // .statistics__title
    &__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        span{
            display: inline-block;
            width: 340px;
            font-size: 30px;
            line-height: 1.33;
            color: $black2;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $red;
            }
        }
    }
    // .statistics__row
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @media (max-width: $md5+px){
            flex-direction: column;
        }
    }
    // .statistics__column
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    // .statistics__total
    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    // .statistics__total-icon
    &__total-icon {
        stroke: $black2;
        fill: $white;
        margin-right: 15px;
        &--1{
            width: 55px;
            height: 63px;
        }
        &--2{
            width: 71px;
            height: 48px;
        }
        &--3{
            width: 56px;
            height: 58px;
        }
    }
    // .statistics__total-number
    &__total-number {
        font-size: 30px;
        line-height: 1.33;
        color: $red;
    }
    // .statistics__line
    &__line {
        width: 160px;
        height: 1px;
        background-color: $gray;
        margin-bottom: 10px;
    }
    // .statistics__type-projects
    &__type-projects {
        font-size: 18px;
        line-height: 23px;
        color: $black2;
        width: 160px;
        text-align: center;
    }
    // .statistics__footer
    &__footer {
    }
    // .statistics__footer-content
    &__footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -7px;
            width: 800px;
            height: 1px;
            background-color: $gray;
        }
    }
    // .statistics__footer-column
    &__footer-column {
        &:first-child{
            margin-right: 40px;
        }
        &:last-child{
            display: flex;
            justify-content: space-evenly;
            flex: 0 0 115px;
        }
    }
    // .statistics__footer-questions
    &__footer-questions {
        font-size: 18px;
        line-height: 23px;
        color: $black2;
    }
    // .statistics__rating-info
    &__rating-info {
        display: flex;
        //align-items: center;
        justify-content: space-between;
        flex: 0 0 115px;

    }
    // .statistics__rating-info-column
    &__rating-info-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    // .statistics__rating-icon
    &__rating-icon {
        margin-bottom: 10px;
        cursor: pointer;
    }
}

