$black: #000;
$gray: #919191;
$red: #FE0000;
$white: #fff;
$black2: #333;
$gray2: #E5E5E5;
$md1: 1200;
$md2: 991.98; //четкий брейкпоинт для разделения медиазапросов на ПК и сенсорные устройства
$md3: 960;
$md4: 640;
$md5: 480;
$md6: 320;
$t: 0.3s;

$padding-vertical-sm: 66px;
$padding-vertical: 66px;
