$black: #000;
$gray: #919191;
$red: #FE0000;
$white: #fff;
$black2: #333;
$gray2: #E5E5E5;
$md1: 1192;
$md2: 991.98;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$t: 0.3s;

$padding-vertical-sm: 66px;
$padding-vertical: 66px;
